<ion-view>
    <ion-content class="homeCenter padding">
        <div class="item-image">
            <img src="img/logo.jpg">
        </div>
        <button class="button button-block button-assertive" ng-click="seek()">
            What do you seek?
        </button>
        <button class="button button-block button-assertive">
            Propose a deal
        </button>
        <button class="button button-block button-assertive">
            Manage ads
        </button>
    </ion-content>
</ion-view>