<ion-view view-title="I Miei Annunci">
    <div class="bar bar-subheader item-input-inset item-select">
        <label class="input-label">
            Categoria
        </label>
        <select ng-model="myadsData.categoryFilter" ng-change="getMyAds()">
            <option value="0">Qualsiasi</option>
            <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
        </select>
    </div>
    <ion-content class="has-subheader">
        <div class="list">
            <p class="item" ng-hide="myadsData.myads.length">Non hai pubblicato annunci.</p>
            <a class="item" href="#/app/myads/{{ad.id}}" ng-repeat="ad in myadsData.myads">
                <h2>{{ad.title}}</h2>
                <p ng-show="ad.duration > 0">Scade tra {{ad.duration}} ore</p>
                <p ng-hide="ad.duration > 0">Scaduto</p>
            </a>
        </div>
    </ion-content>
</ion-view>