<ion-view view-title="Registrazione">
    <ion-content>
        <form ng-submit="doSignup()" novalidate>
            <div class="list">
                <label ng-class="{formError : duplicates.username}" class="item item-input item-floating-label">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Username - 8 caratteri o piú" ng-model="signupData.username" required>
                </label>
                <label ng-class="{formError : duplicates.email}" class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" ng-model="signupData.email" required>
                </label>
                <label ng-class="{formError : duplicates.phone}" class="item item-input item-floating-label">
                    <span class="input-label">Telefono</span>
                    <input type="tel" placeholder="Mobile" ng-model="signupData.mobile" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="signupData.password" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Ripeti Password</span>
                    <input type="password" placeholder="Ripeti Password" ng-model="signupData.repeat" required>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Registrati</button>
                </label>
                <label class="item">
                    <button type="button" class="button button-clear button-assertive" ng-click="gotoLogin()">Giá registrato? Fai il login ora!</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>