<ion-view view-title="Sign Up">
    <ion-content>
        <form ng-submit="doSignup()" novalidate>
            <div class="list">
                <label ng-class="{formError : duplicates.username}" class="item item-input item-floating-label">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Username - 8 characters or more" ng-model="signupData.username" required>
                </label>
                <label ng-class="{formError : duplicates.email}" class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" ng-model="signupData.email" required>
                </label>
                <label ng-class="{formError : duplicates.phone}" class="item item-input item-floating-label">
                    <span class="input-label">Mobile</span>
                    <input type="tel" placeholder="Mobile" ng-model="signupData.mobile" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="signupData.password" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Repeat Password</span>
                    <input type="password" placeholder="Repeat Password" ng-model="signupData.repeat" required>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Sign up</button>
                </label>
                <label class="item">
                    <input type="button" class="button-clear" ng-click="gotoLogin()">Already registered? Login now!</input>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>