@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

*{
	color: inherit;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

body > header{
	height: 1cm;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 2mm #000;
	background: #3CA2A2;
	color: #2D2D29;
	display: flex;
	display: -webkit-box;
	z-index: 10;
	
	/*FIXME remove font here*/
	font-size: .5cm;
	line-height: 1cm;
}

body > header > span{
	-webkit-box-flex: 1;
	flex: 1;
	display: block;
}

body > header > button{
	width: 1cm;
	font: bold .5cm/1cm "Roboto Slab";
	color: inherit;
	display: block;
	padding: 1.5mm;
}

body > header > button:active{
	background: #2D2D29;
	color: #3CA2A2;
}

body > header > button:before{
	content: '';
	display: block;
	border-top: 12px double;
	height: 4px;
	border-bottom: 4px solid;
}

#menu{
	/*display: none;
}

#menu.visible{*/
	display: block;
	position: fixed;
	top: 1cm;
	right: 0;
	bottom: 0;
	width: 80%;
	background: rgba(60, 162, 162, 0.95);/*#3CA2A2*/
	box-shadow: 0 1cm 1cm #000;
	overflow: auto;
}

body > article{
	display: none;
}

body > article.current{
	display: -webkit-box;
	display: flex;
	flex-direction: column;
	-webkit-box-flex: 1;
	flex: 1 1;
	min-height: 0;
}

body{
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	flex-direction: column;
}

body > article > section{
	-webkit-box-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: flex;
}

#home{
	/*background: no-repeat url(background.png) center/cover;*/
}

/*#home #buttons{
	width: 80%;
	max-width: 20cm;
	position: absolute;
	bottom: 1cm;
	left: 0;
	right: 0;
}*/

.button:active{
	background-color: #3CA2A2;
}

.button{
	color: #DFECE6;
	text-decoration: none;
	text-align: center;
	background: #215A6D;
	font-size: .8cm;
	line-height: 2;
	/*-webkit-box-flex: 1;
	flex: 1 0 auto;*/
	display: block;
	padding: 0 2mm;
	max-width: 12cm;
	width: 100%;
}

.button-group{
	-webkit-box-flex: 1;
	display: -webkit-box;
	display: flex;
	align-items: center;
}

.button-group > .button:first-child{
	border-radius: 2mm 0 0 2mm;
}

.button-group > .button:last-child{
	border-radius: 0 2mm 2mm 0;
}

.button-group > .button:not(:first-child){
	/*border-left: 1px solid #C8D7FF; FIXME*/
	margin-left: -1px;
}

.button-group.vertical{
	-webkit-box-orient: vertical;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: space-around;
	margin: 0 5mm;
}

.button-group.spaced > .button{
	border-radius: 2mm;
	-webkit-box-flex: none;
	flex: none;
}

.button-group.spaced:before, .button-group.spaced:after{
	content: '';
	display: block;
}

.button-group.margin > .button{
	margin: 2.5mm 0;
}

.vbox{
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	flex-direction: column;
}

.vbox > .extend{
	-webkit-box-flex: 1;
	flex: 1 0 auto;
}

.vbox.middle{
	justify-content: center;
}

.vbox.center{
	align-items: center;
}

.vbox.margin{
	margin-left: 5mm;
	margin-right: 5mm;
}

#logo{
	margin: 1cm auto 0 auto;
	width: 153px;
	height: 141px;
	background: transparent;
	display: block;
}

html{
	margin: 0;
	height: 100%;
}

body{
	padding: 1cm 0 0 0;/*1cm is the header height*/
	box-sizing: border-box;
	height: 100%;
	background-color: #2D2D29;
	color: #DFECE6;
	font: .4cm/2 'Roboto Slab';
}

/*body *{
	margin: 0 auto;
}*/

form.loading {
	opacity: 0.4;
	/*FIXME*/
}

form > *{
	display: block;
	max-width: 8cm;
	width: 100%;
}

form > textarea, form > input, form > select{
	background: none;
	border: none;
	border-bottom: 2px solid #92C7A3;
	font: .5cm/2 'Roboto Slab';
}

form > input[type=checkbox]{
	width: 1cm !important;
	height: 1cm !important;
	vertical-align: middle;
}

form > button{
	font: .8cm/2 'Roboto Slab';
	display: block;
	border: none;
	border-radius: 2mm 2mm;
	color: #DFECE6;
	width: 80%;
}

input[type=range]{
	border: none;
	height: 1cm;
}

input[type=range]::-moz-range-track{
	background: #92C7A3;
	height: 2px;
	border: none;
}

input[type=range]::-moz-range-thumb{
	background: #DFECE6;
	width: 7mm;
	height: 7mm;
	border-radius: 100%;
	border: 2px solid #92C7A3;
}

output{
	font-weight: bold;
}

#signup p, #login p{
	margin: 1cm auto;
}

#browse li{
	display: block;
	position: relative;
}

#browse img{
	display: block;
}

#browse .info{
	position: absolute;
	right: 5mm;
	left: 5mm;
	font-size: 4mm;
	text-align: right;
	text-shadow: #2D2D29 0 0 2mm;
	bottom: 0;
}